.button {
  --button-color-primary: #043a51;
  --button-color-secondary: #f2f1ed;
  --button-color-submit: #358b66;
  --button-color-error: #bc3f3f;

  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.5rem;
  min-width: 8rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;

  @media (width <= 767px) {
    font-size: 1.25rem;
    padding: 0.75rem;
  }
}

.button-primary {
  border: 2px solid var(--button-color-primary);
  color: var(--button-color-primary);

  &:hover,
  &:focus {
    background-color: var(---button-color-primary);
    color: var(--button-color-secondary);
  }
}

.button-confirm {
  border: 2px solid var(--button-color-submit);
  color: var(--button-color-submit);
  justify-self: center;

  &:hover,
  &:focus {
    background-color: var(--button-color-submit);
    color: var(--button-color-secondary);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button-danger {
  border: 2px solid var(--button-color-error);
  color: var(--button-color-error);
  justify-self: center;

  &:hover,
  &:focus {
    background-color: var(--button-color-error);
    color: var(--button-color-secondary);
  }
}
